<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<p></p>
<p></p>
<p></p>
<h2 class="text-light">Category Horror</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg ">
      <div class="m-4">
        <div class="card" style="width: 300px;">
          <iframe width="300" height="300" src="https://www.youtube.com/embed/AczRPBVAnFk">
          </iframe>
          <div class="card-body text-center bg-secondary text-light">
            <h5 class="card-title">Conjure X</h5>
            <p class="card-text">What goes bump in the night? Ghosts, ghouls and every other rotten creature from the grave, of course! Dive into an abyss of terror with this new ghostly, edge-of-your-seat thriller that will leave you gasping for more!</p>
            <!--            <a href="#" class="btn btn-primary">View Profile</a>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg ">
      <div class="m-4">
        <div class="card" style="width: 300px;">
          <iframe width="300" height="300" src="https://www.youtube.com/embed/atnW4D6pc-w">
          </iframe>
          <div class="card-body text-center bg-secondary text-light">
            <h5 class="card-title">Conjuring the Beyond</h5>
            <p class="card-text">Wanda feels lost in life. She applies for an alternative sleep study in an attempt to find solutions. However, when the other participants start to go missing, Wanda is forced to figure out what is going on before she is next.</p>
            <!--            <a href="#" class="btn btn-primary">View Profile</a>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg ">
      <div class="m-4">
        <div class="card" style="width: 300px;">
          <iframe width="300" height="300" src="https://www.youtube.com/embed/zYejoLBfP1U">
          </iframe>
          <div class="card-body text-center bg-secondary text-light">
            <h5 class="card-title">THE ORPHANAGE: MILWOOD </h5>
            <p class="card-text">After a fatal accident occurs, Nathan Perry is assigned to the Milwood facility for young adults. During his time at Milwood, Nathan becomes a victim of unforeseen terror and unusual behavior.</p>
            <!--            <a href="#" class="btn btn-primary">View Profile</a>-->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

</body>
</html>

<app-footer></app-footer>
