<app-header></app-header>
<h2 class="text-light px-5 mx-5 mt-5">Add Film</h2>

<form class="px-5 mx-5 py-5 ">
  <div class="form-group text-light ">
    <label for="exampleFormControlInput1">Title</label>
    <input type="email" class="form-control bg-secondary" id="exampleFormControlInput1">
  </div>
  <div class="form-group text-light">
    <label for="exampleFormControlSelect1">Genre</label>
    <select class="form-control bg-secondary" id="exampleFormControlSelect1">
      <option>Action</option>
      <option>Drama</option>
      <option>Horror</option>
      <option>Sci-Fi</option>
    </select>
  </div>
  <div class="form-group text-light">
    <label for="exampleFormControlInput1">Url</label>
    <input type="email" class="form-control bg-secondary" id="exampleFormControlInput2">
  </div>
  <div class="form-group text-light">
    <label for="exampleFormControlTextarea1">Summary</label>
    <textarea class="form-control bg-secondary" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
