<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="app.component.js"></script>
</head>

<body>

<h1 class="text-danger text-center pt-5">Notflix</h1>
<h4 class="text-light bold text-center pt-1 pb-1">Enjoy our film archive</h4>
<form class="d-flex w-50 form-horizontal ">
  <input class="form-control me-2 py-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-light" type="submit">Search</button>
</form>
<table>
  <tr>
    <td>
      <img src="assets/action1.jpg" alt="Action" width="150">
      <p>Action</p>
    </td>
    <td>
      <img src="assets/sci-fi.jpg" alt="Sci-fi" width="150">
      <p>Sci-fi</p>
    </td>
    <td>
      <img src="assets/drama.jpg" alt="drama"width="150" >
      <p>Drama</p>
    </td>
    <td>
      <img src="assets/horror.jpg" alt="Horror" width="150">
      <p>Horror</p>
    </td>
  </tr>
</table>

<!--<img src="assets/action.jpg" class="mt-3" width="150" height="200">-->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

