<app-header></app-header>
<h2 class="text-light">admin works!</h2>
<a routerLink="/addfilm">
<button class="btn btn-outline-light float-end me-5 mb-5 " type="submit">Add Film</button>
</a>
<div class="container secondary ">
  <div class="card m-5 p-3 bg-secondary  ">
    <div class="card-body ">
      <table class="table table-bordered table-striped table-hover text-light ">
        <thead>
        <tr>
<!--          bg-transparent-->
<!--          <th>ID</th>-->
          <th>Title</th>
          <th>Genre</th>
          <th>Summary</th>
          <th>Url</th>
<!--          <th>Address</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let film of films">
<!--          <td>{{ user.id }}</td>-->
          <td>{{ film.title }}</td>
          <td>{{ film.genre }}</td>
          <td>{{ film.summary }}</td>
          <td>{{ film.url }}</td>
<!--          <td>{{ user.address.street }}, {{ user.address.city }}</td>-->
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
